**Using Pyspark functions:**

In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql import functions as func
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

# Build a spark session
spark = SparkSession.builder.appName("customer_orders").getOrCreate()

# As the csv file does not contain schema(i.e. the column names and their types), we need to manually set the schema
schema = StructType([StructField("CustomerID", IntegerType(), nullable = True),
                    StructField("ItemID", IntegerType(), nullable = True),
                    StructField("ItemPrice", FloatType(), nullable = True)])

df = spark.read.schema(schema).csv(r"Datasets\customer-orders.csv")
df.printSchema()

total_spent = df.select("CustomerID", "ItemPrice").groupBy("CustomerID").sum("ItemPrice").sort("sum(ItemPrice)")
total_spent.show(n=total_spent.count()) # Show the total number of rows
spark.stop()

root
 |-- CustomerID: integer (nullable = true)
 |-- ItemID: integer (nullable = true)
 |-- ItemPrice: float (nullable = true)

+----------+------------------+
|CustomerID|    sum(ItemPrice)|
+----------+------------------+
|        45|3309.3800055980682|
|        79| 3790.569982469082|
|        96|3924.2299877405167|
|        23| 4042.650001913309|
|        99| 4172.290024012327|
|        75| 4178.499995291233|
|        36| 4278.049998521805|
|        98| 4297.259994864464|
|        47| 4316.299998342991|
|        77| 4327.730022907257|
|        13| 4367.619992315769|
|        48| 4384.329996109009|
|        49| 4394.599998474121|
|        94| 4475.569978475571|
|        67|  4505.78999453038|
|        50| 4517.269991545007|
|        78| 4524.510001778603|
|         5|4561.0700044333935|
|        57| 4628.399988114834|
|        83| 4635.799997210503|
|        91| 4642.259980916977|
|        74| 4647.129976034164|
|        84| 4652.939991295338|
|         3| 4659.629958629608|
|        12| 4664.589988231659|
|        66| 4681.919987842441|
|        56| 4701.020000040531|
|        21| 4707.409991621971|
|        80| 4727.860013484955|
|        14|4735.0300142765045|
|        37| 4735.199992477894|
|         7| 4755.070008277893|
|        44| 4756.890008449554|
|        31| 4765.050008416176|
|        82| 4812.490003585815|
|         4| 4815.050017774105|
|        10| 4819.699996152893|
|        88| 4830.549984455109|
|        20| 4836.860020637512|
|        89| 4851.480018436909|
|        95| 4876.840013846755|
|        38| 4898.459992894903|
|        76| 4904.210003614426|
|        86| 4908.810004234314|
|        27| 4915.890009522438|
|        18|4921.2700062170625|
|        53| 4945.300026416779|
|         1| 4958.599974133074|
|        51| 4975.219970226288|
|        16| 4979.059988319874|
|        30| 4990.720004022121|
|        28|  5000.71000123024|
|        22| 5019.449993014336|
|        29|5032.5300433933735|
|        17| 5032.680001735687|
|        60| 5040.710016489029|
|        25|5057.6099898815155|
|        19| 5059.429994106293|
|        81|   5112.7100045681|
|        69| 5123.010002791882|
|        65| 5140.349995829165|
|        11| 5152.289969373494|
|        35|  5155.41999566555|
|        40| 5186.430004000664|
|        87| 5206.400022745132|
|        52|  5245.05999673903|
|        26| 5250.399979650974|
|        62| 5253.320019304752|
|        33| 5254.659994900227|
|        24|  5259.92001748085|
|        93|5265.7500213086605|
|        64| 5288.690012812614|
|        90| 5290.410029888153|
|        55| 5298.090022087097|
|         9|  5322.64999294281|
|        34|5330.8000039458275|
|        72| 5337.439985603094|
|        70| 5368.249986544251|
|        43| 5368.830015063286|
|        92| 5379.280023932457|
|         6| 5397.880012750626|
|        15| 5413.510010659695|
|        63| 5415.150004655123|
|        58| 5437.730004191399|
|        32| 5496.049998283386|
|        61| 5497.479998707771|
|        85|  5503.42998456955|
|         8|5517.2399980425835|
|         0| 5524.950008839369|
|        41| 5637.619991332293|
|        59| 5642.890004396439|
|        42| 5696.840004444122|
|        46| 5963.110011339188|
|        97| 5977.190007060766|
|         2| 5994.589979887009|
|        71| 5995.659991919994|
|        54| 6065.390002984554|
|        39| 6193.109993815422|
|        73| 6206.199985742569|
|        68| 6375.450028181076|
+----------+------------------+

**Using SQL code:**

In [6]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql import functions as func
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType
spark = SparkSession.builder.appName("customer_orders").getOrCreate()
schema = StructType([StructField("CustomerID", IntegerType(), nullable=True),
                     StructField("ItemID", IntegerType(), nullable=True),
                     StructField("ItemPrice", FloatType(), nullable=True)])
df = spark.read.csv(r"Datasets\customer-orders.csv", schema=schema)
# Create Dataframe and name it as "customer_orders"
df.createOrReplaceTempView("customer_orders")
# Use SQL code to extract information
total_spent = spark.sql("SELECT CustomerID, SUM(ItemPrice) as TotalSpent FROM customer_orders GROUP BY CustomerID ORDER BY TotalSpent DESC")
total_spent.show()
spark.stop()

+----------+------------------+
|CustomerID|        TotalSpent|
+----------+------------------+
|        68| 6375.450028181076|
|        73| 6206.199985742569|
|        39| 6193.109993815422|
|        54| 6065.390002984554|
|        71| 5995.659991919994|
|         2| 5994.589979887009|
|        97| 5977.190007060766|
|        46| 5963.110011339188|
|        42| 5696.840004444122|
|        59| 5642.890004396439|
|        41| 5637.619991332293|
|         0| 5524.950008839369|
|         8|5517.2399980425835|
|        85|  5503.42998456955|
|        61| 5497.479998707771|
|        32| 5496.049998283386|
|        58| 5437.730004191399|
|        63| 5415.150004655123|
|        15| 5413.510010659695|
|         6| 5397.880012750626|
+----------+------------------+
only showing top 20 rows